# Node
node_modules/
*.tsbuildinfo
.pnpm-store/

# Test artifacts
test-results/
playwright-report/

# Builds
dist/
build/
out/
coverage/

# SQLite datasets generados
datasets/**/*.sqlite
datasets/**/*.sqlite-wal
datasets/**/*.sqlite-shm

# Entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# SO
.DS_Store
Thumbs.db